﻿
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="margin-top: 20px; margin-left: 15px;">
        <li role="presentation" class="active"><a href="#upcomming" aria-controls="upcomming" role="tab" data-toggle="tab">Upcoming Meetings</a></li>
        <li role="presentation"><a href="#preview-meetings" aria-controls="preview-meetings" role="tab" data-toggle="tab">Preview Meetings</a></li>
        <li class="pull-right history" id="place-icon-calendar">

        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="upcomming">

            <ul class="timeline" id="timeline-content">
                
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="preview-meetings">...</div>

    </div>

</div>
