﻿
<div id="theFixed" style="top: 0px; position: relative;">

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
            Notificaciones
        </div>
        <!-- Table -->
        <table class="table">
            <tbody>
                <tr>
                    <td class="abl-tdalert">
                        <span class="abl-alerta">En espera de aprobación del dictamen</span><br>
                        <p class="abl-folio">
                            ABL1234567890150716140312<br>
                            15/02/2015
                        </p>
                        <a class="btn btn-default btn-xs abl-verbt" role="button" href="validar_dictamen.html">
                            Atender notificación
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="abl-tdalert">
                        <span class="abl-alerta">Solicitud incompleta</span><br>
                        <p class="abl-folio">
                            ABL1234567890150716140312<br>
                            15/02/2015
                        </p>
                        <a class="btn btn-default btn-xs abl-verbt" role="button" href="#">
                            Atender notificación
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>