﻿@model MBK.LivingArt.Web.Mvc.Models.MyCustomModel


@using (Html.BeginForm())
{
    @Html.Raw(Model.Name)
}
<script src="@VirtualPathUtility.ToAbsolute("~/MBKLivingArt/Content/js/JavaScript.js")"></script>
<script>
    $(document).ready(function () {
        testMyFunc();   
    });
</script>