﻿<div class="navbar-custom-menu navbar-left logo-h"><ul class="nav navbar-nav"><li class="dropdown messages-menu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{APP_PATH}MBKLivingArt/Content/img/logo-h-w108.png" border="0" style="width:108px;height:33px" /></a></li></ul></div>