﻿
<div class="row " style="margin-top:20px;">
    <div class="col-md-6 text-left">
        <span class="time-now">@(ViewBag.Time)</span><br />
        <span class="welcome">@(ViewBag.WelcomeText) @(ViewBag.UserDisplayName)</span>
    </div>   
    <div class="col-md-6 text-right">
        <a  id="link-new-meeting"  width="1000" top="0" popupId="new-meeting" href="@(VirtualPathUtility.ToAbsolute("~/"))MBKLivingArt/cmeMeetings/CreateViewGen?actionName=addMeeting&popup=1&uiv=2" class="btn btn-primary create-meeting ">@(ViewBag.CreateNewMeetingText)</a>
    </div>

</div>

<div class="row" style="margin-top:100px;">
    <div class="col-md-12">
        <div class="start-box box-shadow">
            
        </div>
    </div>

</div>

<script>
    $("section.sidebar").append('@Html.Raw(ViewBag.HtmlTabs)');
    function getTimeLine(dayDate) {
        var param = "";
        if (dayDate != undefined) {
            param = "?year=" + dayDate.getFullYear() + "&month=" + (dayDate.getMonth() + 1) + "&day=" + dayDate.getDate();
        }

        var url = "@(VirtualPathUtility.ToAbsolute("~/"))MBKLivingArt/cmeMeetings/ShowMyMeetingsTimeLine" + param;
        callServerGetHtml(url, function (data) {

                $("#timeline-content").html(data);

                $(".main-sidebar .elastislide-list.attendants").each(function () {
                    $(this).elastislide();
                });
            
                setTimeout(function () {
                    var top = $(".sidebar .tab-content").offset().top;
                    var h = $(window).height();
                    $(".sidebar .tab-pane.active").css("height", h - top + "px");
                    $(".sidebar .tab-pane.active").css("overflow-y", "auto");
                    $(".sidebar .tab-pane.active").css("overflow-x", "hidden");

                }, 3000);

                $("a.link-preview").click(function (e) {
                    e.preventDefault();
                    $(".timeline-item").removeClass("selected");
                    $(".timeline-item").addClass("unselected");
                    $(this).closest(".timeline-item").addClass("selected");
                    if ($("#full-div").length == 0) {
                        $(".content-wrapper").append("<div id='full-div'></div>");

                    }
                    var url = $(this).attr("href");
                    callServerGetHtml(url, function (data) {

                        $("#full-div").html(data);
                        $("#full-div .cme-header .close").click(function (e) {
                            e.preventDefault();
                            $("#full-div").remove();
                        });

                    }, null);


                });
            

           

        }, null);
    }
    getTimeLine();

    function getAttendants() {

    }
    function showDateMeetings(e) {
        getTimeLine(e.date);
    }
    function paintDates(date) {
        var active_dates = datesWithMeetings;//["21/8/2016", "19/8/2016"];
        var d = date;
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1; //Months are zero based
        var curr_year = d.getFullYear();
        var formattedDate = curr_date + "/" + curr_month + "/" + curr_year

        if ($.inArray(formattedDate, active_dates) != -1) {
            return {
                classes: 'activeClass'
            };
        }
        return;
    }
    var datesWithMeetings = new Array();
    function getDaysWithMeetings() {
       
        var url = "@(VirtualPathUtility.ToAbsolute("~/"))MBKLivingArt/cmeMeetings/GetDatesWithMeetings";
        callServerGet(url, function (data) {
            for (var i = 0; i < data.length; i++) {
                var date = new Date(parseInt(data[i].substr(6)));
                
                var curr_date = date.getDate();
                var curr_month = date.getMonth() + 1; //Months are zero based
                var curr_year = date.getFullYear();
                var formattedDate = curr_date + "/" + curr_month + "/" + curr_year;
                datesWithMeetings.push(formattedDate);
            }
            if ($("#place-icon-calendar #icon-calendar-text").length == 0) {
                $("#place-icon-calendar").addHtmlField({ type: "date", typeInput: "hidden", id: "icon-calendar-text", options: { beforeShowDay: paintDates, changeDate: showDateMeetings } });

            }

            $("#place-icon-calendar .input-group-addon").css("width", "30px");
            $("#place-icon-calendar .input-group-addon").css("border", "0px");

        });

    }
    function addMeetingDone() {
        if (isActionComplete("addMeeting")) {
            getTimeLine();
            getDaysWithMeetings();
        }
    }
    $(document).ready(function () {
        getDaysWithMeetings();
        $("#link-new-meeting").click(function (e) {
            e.preventDefault();
            waitActionComplete("addMeeting");
            openModal($(this), addMeetingDone);
        });
       


    });

</script>
